@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: white;
  color: #06002e;
  padding: 21px 0;
  position: fixed; /* Make the navigation bar fixed */
  top: 0; /* Place the navigation bar at the top of the viewport */
  left: 0;
  width: 100%; /* Make the navigation bar span the full width */
  z-index: 1000; /* Ensure the navigation bar is above other content */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  padding-top: 0px; /* Adjusted top padding to make the container 10px shorter */
  padding-bottom: 0; /* No bottom padding to make the container 10px shorter */
}

.logo {
  font-size: 24px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  color: #06002e;
  text-decoration: none;
  position: relative;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 0;
  border-radius: 50%;
  background-color: #76cdf2;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

.toggle-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: #06002e;
    width: 40%;
    margin: 80px 0%;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1;
    animation: slide-left 0.5s forwards;
  }

  .menu.active {
    display: flex;
  }

  .toggle-button {
    display: block;
  }

  .menu a{
    color: white;
  }

  .menu a::after {
    display: none;
  }

  .menu a:hover {
    position: relative;
  }

  .menu a:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #76cdf2;
    animation: line-animation 0.3s forwards;
  }

  @keyframes line-animation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes slide-left {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
}

.header {
  background-image: url("header-img.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
}

.header-text {
  width: 85vw;
  margin: 0 10% 0 10%;
  color: #06002e;
}

.header-text h2{
  color: #06002e;
  font-size: 44px;
}

@media (max-width: 768px) {

  .header{
    display: flex;
    align-items: center;
  }

  .header-text{
    display: flex;
    flex-direction: column;
    width: 85vw;
  }

  .header-text h2{
    font-size: 24px;
  }

  .header-text p{
    font-size: 16px;
  }
}


.introduction-section {
  background-color: white;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  background: white;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.intro-image {
  flex: 1;
  max-width: fit-content;
  height: auto;
  padding-right: 20px; /* Add some spacing between image and text */
}

.intro-image img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.intro-text {
  flex: 1;
  max-width: 50%;
  margin-left: 10px;
  color: #06002e;
}

.intro-text h2{
  font-size: 32px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .intro-container {
      flex-direction: column;
      margin: 0 2vw;
  }

  .intro-image,
  .intro-text {
      max-width: 100%;
      padding: 10px;
  }

  .intro-text h2{
    font-size: 28px;
  }

  .intro-text p{
    font-size: 16px;
  }
}



.social-section {
  background-color: #06002e;
  padding: 40px 30px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container {
  text-align: center;
  color: white;
}

.social-heading {
  font-size: 38px;
  font-weight: 700;
  margin: 0;
}

.social-paragraph {
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.social-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  text-decoration: none;
}

.fa-brands {
  font-size: 55px;
}

.social-icon-name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .social-section {
    padding: 50px 20px; /* Adjusted padding for smaller screens */
    height: auto; /* Remove fixed height to allow content to adjust */
  }

  .social-heading {
    font-size: 28px; /* Reduced font size for the heading */
  }

  .social-paragraph {
    margin-top: 5px; /* Reduced margin for the paragraph */
    font-size: 14px; /* Reduced font size for the paragraph */
  }

  .social-icons {
    flex-direction: column; /* Stack icons vertically on smaller screens */
    align-items: center;
    margin-top: 40px; /* Reduced margin for the icons */
  }

  .social-icon-link {
    margin: 10px 0; /* Adjusted vertical margin for the icons */
  }

  .fa-brands {
    font-size: 40px; /* Reduced font size for the icons */
  }

  .social-icon-name {
    margin-top: 5px; /* Reduced margin for the icon name */
    font-size: 16px; /* Reduced font size for the icon name */
    font-weight: 500; /* Slightly reduced font weight */
  }
}

.footer {
  background-color: #06002e;
  color: white;
  padding: 40px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.main-footer {
  display: flex;
  padding: 10vh 50px 5vh;
  width: 70vw;
}

.footer-column {
  width: calc(33.33% - 30px); /* Divide equally with margin in between */
  padding: 0 0 0 20px;
  margin-right: 30px;
}

.footer-column h3 {
  margin: 0 0 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li{
  margin-bottom: 5px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  position: relative;
}

.footer-column a::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #76cdf2;
  transition: width 0.3s ease;
}

.footer-column a:hover::before {
  width: 100%;
}


.newsletter-box {
  width: 40%; /* Divide equally with margin in between */
  /* margin-right: 30px; */
}

.newsletter-box h2 {
  margin: 0 0 20px;
}

.newsletter-box input {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px;
}

.newsletter-box button {
  background-color: #1b79f2;
  color: white;
  border: none;
  /* border-radius: 5px; */
  padding: 10px 20px;
  cursor: pointer;
  /* box-shadow: rgba(175, 175, 201, 0.25) 0px 50px 100px -20px, rgba(189, 166, 166, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.footer-bottom {
  background-color: #6B6A84;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 15px 0;
}


@media (max-width: 768px) {
    .footer {
        display: flex;
      padding: 20px 0 0;
      flex-direction: column;
      align-items: center;
    }

    .main-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0 20px;
    }

    .footer-column{
        margin-left: 0;
        padding-left: 0;
    }

    .newsletter-box input{
        width: 80%;
    }
  
    .footer-column,
    .newsletter-box {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }

    .footer-column h3 {
        margin: 0 0 5px;
      }
  
    .footer-bottom {
        width: 100%;
      margin-top: 20px;
      font-size: 12px;
    }
  }
